<% include ../../../partials/header %>

<div class="container">
    <h1>Edit: <%= poi.name %></h1>
    <form action="/region/<%= regionID %>/subregions/<%= subID %>/pois/<%= poi._id %>?_method=PUT" method="POST" class="form-signin form-encounter">
    <div class="form-group">
        <label for="name">Point of Interest Name</label>
        <input type="text" class="form-control" id="name" name="poi[name]" value="<%= poi.name %>">
    </div>
    <div class="form-group">
        <label for="image">Image Filename</label>
        <input type="text" class="form-control" id="image" name="poi[imagePath]" value="<%= poi.imagePath %>">
    </div>
    <div class="form-group">
        <label for="type">Point of Interest Type (Was <%= poi.type %>)</label>
        <select class="form-control" name="poi[type]" id="type">
            <option value="Civilized Settlement">Civilized Settlement (Town, Village, City)</option>
            <option value="Encampment">Monster/Bandit Encampment</option>
            <option value="Fortification">Fortification (Castle, Fort, Base, Defensive Position)</option>
            <option value="Landmark">Landmark (Natural or Manmade)</option>
            <option value="Dungeon">Dungeon</option>
            <option value="Other">Other</option>
        </select>   
    </div>
    <div class="form-group">
        <label for="description">Point of Interest Description</label>
        <textarea class="form-control" id="description" name="poi[description]" rows="6"><%= poi.description %></textarea>
    </div>
    <button type="submit" class="btn btn-success col-sm-6 mx-auto">Submit</button>
    </form>
    <form action="/region/<%= regionID %>/subregions/<%= subID %>/pois/<%= poi._id %>?_method=DELETE" method="POST" class="form-signin form-encounter">
        <button type="submit" class="btn btn-primary col-sm-6 mx-auto">Delete</button>
    </form>
</div>

<% include ../../../partials/footer %>