<% include ../../../partials/header %>

<div class="container">
    <h1 class="warp-title pageTitle"><%= region.name %></h1>
    <div class="thumbnail"> 
        <img class="img-responsive region col-sm-6 col-centered mx-auto" src="/img/regions/subregions/<%= region.imagePath %>" />
    </div>
    <h2 class="warp-title pageTitle">Point of Interest List</h2>
    <div class="row">
        <a href="/region/<%= regionID %>/subregions/<%= region._id %>/pois/new" class="btn btn-primary btn-spacing col-md-4 mx-auto">Add Point of Interest</a>
    </div>
    <div class="row">
    <% region.pois.forEach(function(poi){ %>
        <div class="warp-character col-sm-4 col-centered mx-auto">
            <div class="thumbnail"> 
                <img class="img-responsive" src="/img/pois/<%= poi.imagePath %>" />
            </div>
            <h2><%= poi.name %></h2>
            <h3 class="biome"><%= poi.type %></h3>
            <p class="description"><%= poi.description %></p>
            <div class="row">
                <a href="/region/<%= regionID %>/subregions/<%= region._id %>/pois/<%= poi._id %>/edit" class="btn btn-primary btn-region col-sm-8 mx-auto">Edit/Delete</a>
            </div>
        </div>
    <% }) %> 
    </div>
</div>

<% include ../../../partials/footer %>